* {    /*reset margins and paddings*/
margin: 0;
padding: 0;
}

header {
	border-bottom: 1px solid black;
	padding: 10px 0px 10px 0px;

}

header h1{
	text-align: center;
}

.wrapper {
	margin:15px;
}

.date {
	text-align: center;
}

.content-box {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	background-color: #efefef;
	padding:2px;
	margin-top: 20px;
	margin-bottom: 10px;
}