@media (max-width: 767px) {


* {    /*reset margins and paddings*/
margin: 0;
padding: 0;
}



header {
	border-bottom: 1px solid black;
	padding: 10px 0px 10px 0px;
	background-color: black;

}

header h1{
	text-align: center;
	font-family: 'Passero One', cursive;
	font-size: 50px;
	color: white;
}

.wrapper {
	margin:15px;
}

/******************************Date STAMP*/

.date {
	text-align: center;
}

p.month {
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
}

p.day {
	font-family: 'Shrikhand', cursive;
	font-size: 20px;
}

/******************************DATE STAMP */

.content-box {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	background-color: #efefef;
	padding:2px;
	margin-top: 20px;
	margin-bottom: 10px;
}

}


@media (min-width: 768px) and (max-width: 1024px) {




}


@media (min-width: 1025px) {

}