

* {    /*reset margins and paddings*/
margin: 0;
padding: 0;
}


body {
	width: 100%;
}

@media (max-width: 767px) {

	.invheader {
		display: none;
	}

	header {
		width: 100%;
	
		border-bottom: 1px solid black;
		padding: 10px 0px 10px 0px;
		background-color: black;
		-webkit-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		-moz-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);

	}

	header h1{
		text-align: center;
		font-family: 'Passero One', cursive;
		font-size: 50px;
		color: white;
	}

	ul.navbar {
		display:none;
	}

	.wrapper {
		margin:15px;
	}

	/******************************Date STAMP*/

	.date {
		text-align: center;
	}

	p.month {
		font-family: 'Shrikhand', cursive;
		font-size: 30px;
	}

	p.day {
		font-family: 'Shrikhand', cursive;
		font-size: 20px;
	}

	/******************************DATE STAMP */

	.content-box {
		width: 100%;
		height: 100%;
		border: 1px solid black;
		background-color: #efefef;
		padding:2px;
		margin-top: 20px;
		margin-bottom: 10px;
		-webkit-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
		-moz-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
		box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
	}


	footer {
		width: 100%;
		background-color: black;
		height:300px;
	}

	.footwrap {
		width:50%;
		margin: 0 auto 0 auto;
		padding: 20px;
	}

	footer ul {
		list-style-type: none;
		background-color: none;
		text-align: center;
	}

	footer li {
		margin-top: 20px;
		border: 1px solid white;

	}

	footer a {
		font-family:  'Passero One', cursive;
		color: white;
		font-size: 25px;
		text-decoration: none;

	}

}


@media (min-width: 768px) and (max-width: 1024px) {

	.invheader {
		display: none;
	}
  
  header {
		border-bottom: 1px solid black;
		padding: 10px 0px 10px 0px;
		background-color: black;
		-webkit-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		-moz-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);

	}

	header h1{
		text-align: left;
		font-family: 'Passero One', cursive;
		font-size: 50px;
		color: white;
		padding-left: 20px;
	}

	ul.navbar {
		display:none;
	}

	.wrapper {
			margin:15px;
		}

		/******************************Date STAMP*/

		.date {
			text-align: center;
		}

		p.month {
			font-family: 'Shrikhand', cursive;
			font-size: 30px;
		}

		p.day {
			font-family: 'Shrikhand', cursive;
			font-size: 20px;
		}

		/******************************DATE STAMP */

		.content-box {
			width: 100%;
			height: 100%;
			border: 1px solid black;
			background-color: #efefef;
			padding:2px;
			margin-top: 20px;
			margin-bottom: 10px;
			-webkit-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			-moz-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
		}

	}




@media (min-width: 1025px) {

.invheader {
	width: 100%;
	visibility: hidden;
	border-bottom: 1px solid black;
	padding: 10px 0px 10px 0px;
	background-color: black;
	-webkit-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
	-moz-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
	box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
}


header {
		position: fixed;
		width: 100%;
		border-bottom: 1px solid black;
		padding: 10px 0px 10px 0px;
		background-color: black;
		-webkit-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		-moz-box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);
		box-shadow: 0px 15px 23px -12px rgba(105,103,105,1);

	}

	.hwrap {
		width: 80%;
		margin: 0 auto 0 auto;
		display: flex;
		
	}

	header h1 , .invheader h1 {
		text-align: left;
		font-family: 'Passero One', cursive;
		font-size: 50px;
		color: white;
		width:30%;
		float: left;
	}

	ul.navbar , .invheader ul {
		list-style-type: none;
		margin: auto 0 auto 0;
		padding: 0;
		overflow:hidden;
		background-color:  none;
		width: 70%;
		float: right;

	}

	.navbar li , .invheader li {
		float: right;
		margin-left: 20px;

	}

	.navbar li a , .invheader li a {
		
		
		font-size: 20px;
		color: white;
		text-decoration: none;
		font-family: 'Passero One', cursive;
		

	}

	

	.wrapper {
			width: 80%;
			margin: 0 auto 0 auto;
		}

		/******************************Date STAMP*/

		.date {
			text-align: center;
			margin-top: 20px;
			width: 100%;
		}

		p.month {
			font-family: 'Shrikhand', cursive;
			font-size: 30px;
		}

		p.day {
			font-family: 'Shrikhand', cursive;
			font-size: 20px;
		}

		/******************************DATE STAMP */

		.content-box {
			
			width: 100%;
			height: 500px;
			border: 1px solid black;
			background-color: #efefef;
			padding:2px;
			margin-top: 20px;
			margin-bottom: 10px;
			-webkit-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			-moz-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			box-sizing: border-box;
		}

		.content-wrap {
			width: 60%;
			float:left;
		}



		.sidebar {
			width: 35%;
			height: 1730px;
			margin-top: 114px;
			margin-bottom: 10px;
			border: 1px solid black;
			background-color: #efefef;
			float: right;
			-webkit-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			-moz-box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			box-shadow: 0px 0px 28px 1px rgba(105,103,105,0.73);
			float: right;

		}

		.clear {
			clear: both;
		}


	

}